@font-face {
    font-family: "historia";
    src: url("fonts/historia.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: wheat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/7.Myown/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-family: 'historia', Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 200;
    color: azure
}

canvas {
    background-color: black;
    display: block;
    position: relative;
}

.dnone {
    display: none !important;
}

.startscreen {
    width: 720px;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column; /* Richtet Kinder-Elemente vertikal an */
    justify-content: center;
    align-items: center; /* Zentriert die Elemente horizontal */
    z-index: 1;
    background-image: url('img/3. Background/Mesa de trabajo 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-screen {
    width: 720px;
    height: 480px;
}

.tittle {
    color: azure;
}

.startscreen-button {
    width: 200px;
    height: 40px;
  
}

.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
    margin: 0 auto;
}

.button-div-responsive {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
}

.button-control-div{
    display: flex;
    gap: 28px;
}

.button-control {
    width: 40px;
    height: 40px;
    gap: 16px;
}

.all-buttons {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-wrap: wrap;
    width: 100%; 
}

.rotate-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.rotate-warning h1 {
    font-size: 4rem;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}

.btn {
    background-color: yellow;
    border: 3px solid blue;
    color: blue;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-impressum {
    width: 250px;
    height: 50px;
}

.btn-start {
    width: 200px;
    height: 50px;
}

.impressum {
    background-color: rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 70vh;
    overflow-y: auto;
    text-align: center;
    color: wheat;
    padding: 24px;
}

.h1-Impressum {
    color: wheat;
    text-decoration: underline;
}


.backStartscreen{
    color: wheat;
}

.backStartscreen:hover{
    color: goldenrod;
}

.impressum-links {
    color: goldenrod;
}

.impressum-links:hover {
    text-decoration: underline;
}

.dflex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.endscreen-container {
    background-image: url('img/7.Myown/background_screen.jpg');
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
}

.endscreen-container h2 {
    font-size: 48px;
    text-decoration: solid;
    font-family: 'historia', Arial, Helvetica, sans-serif;
    margin: 0;
}

.mutebutton-responsive {
    display: none;
}

.button-startscreen {
    display: flex;
}

.content-container-userStory {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 5px; 
}

.one-story-explanation {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px; 
}

.one-story-explanation img {
    object-fit: contain; 
}

.one-story-explanation img[alt="keyboard"] {
    width: 130px; 
    height: 90px;
}

.one-story-explanation img[alt="bubble"] {
    width: 100px;
    height: 80px;
}

.one-story-explanation span {
    font-size: 16px;
    color: #fff; 
    font-family: Arial, sans-serif;
}

.h1-userStory{
    margin: 0;
}


.control {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    width: 118px;
    height: 175px;
}



.userStory{
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 800px) {
    .impressum {
        background-color: rgba(0, 0, 0, 0.5);
        width: 600px;
        height: 70vh;
        overflow-y: auto;
        text-align: center;
        color: wheat;
    }
}

@media only screen and (max-width: 720px),
only screen and (max-height: 480px) {
    .canvas {
        width: 100% !important;
        height: 100vh !important;
    }

    .title {
        display: none;
    }

    .mutebutton-desktop {
        display: none; 
    }

    .mutebutton-responsive {
        display: flex; 
    }

    .startscreen{
        width: 100%;
        height: 100%;
    }

    .endscreen-container{
        width: 100%;
        height: 100%;
    }

    .canvas-container {
        width: 100%; 
        height: 100vh;
    }

    .button-div-responsive{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .one-story-explanation{
        margin: 0;
    }
    .one-story-explanation img[alt="keyboard"] {
        width: 100px; 
        height: 60px;
    }
    
    .one-story-explanation img[alt="bubble"] {
        width: 70px;
        height: 50px;
    }

    .backStartscreen-userStory{
        margin-bottom: 0;
        padding: 0;
    }

    .userStory{
        height: 100vh;
    }

    @media (orientation: portrait) {
        .rotate-warning {
            display: block;
        }
    }
}

@media only screen and (min-width: 721px) {
    .rotate-warning {
        display: none;
    }
}
