@font-face {
    font-family: "historia";
    src: url("fonts/historia.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/7.Myown/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'historia', Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 200;
    color: black;
}

canvas {
    background-color: black;
    display: block;
}

.dnone {
    display: none !important;
}

.startscreen {
    width: 720px;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background-screen {
    width: 720px;
    height: 480px;
}

.tittle {
    position: absolute;
    top: 210px;
    left: 200px;
    color: azure;
}

.startscreen-button {
    position: absolute;
    top: 350px;
    width: 200px;
    height: 40px;
    left: 430px;
}

.youWon-Title {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 300px;
    height: 100px;
}

.youLost-Title {
    position: absolute;
    top: 350px;
    left: 480px;
    width: 300px;
    height: 100px;
}

.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
    margin: 0 auto;
}

canvas {
    background-color: black;
    display: block;
    position: relative;
}

.button-div-responsive {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
}

.button-control {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.all-buttons {
    display: flex;
    justify-content: space-around;
}


.rotate-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.rotate-warning h1 {
    font-size: 4rem;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}
                            
.btn {
    background-color: yellow; /* Gelber Hintergrund */
    border: 3px solid blue; /* Blauer Rahmen */
    color: blue; /* Blauer Text */
    font-size: 24px; /* Schriftgröße */
    font-weight: bold; /* Fettschrift */
    text-transform: uppercase; /* Text in Großbuchstaben */
    padding: 10px 20px; /* Innenabstand */
    border-radius: 15px; /* Abgerundete Ecken */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Leichter 3D-Schattierungseffekt */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animation für Hover-Effekt */
}

.btn:hover {
    transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Stärkere Schattierung beim Hover */
    cursor: pointer;

}

.btn-impressum {
    position: absolute;
    top: 410px;
    left: 390px;
    width: 250px;
    height: 50px;
}

.btn-start{
    position: absolute;
    top: 340px;
    left: 420px;
    width: 200px;
    height: 50px;
}

.impressum{
    background-color: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 70vh;
    overflow-y: auto;
    text-align: center;
    color:wheat;
}

.backStartscreen{
    color: wheat;
    text-decoration: none;
    font-size: 16px;
}

.backStartscreen:hover{
    color: burlywood;
    text-decoration:underline;
}

.h1-Impressum{
    color: wheat;
    text-decoration: underline;
}

.impressum-links{
    color: goldenrod;
}

.impressum-links:hover{
    text-decoration: underline;
}
@media screen and (max-width:920) {
    .youLost-Title {
        position: absolute;
        top: 350px;
        left: 200px;
        width: 250px;
        height: 80px;
    }
}

@media screen and (max-width:800px) {
    .youLost-Title {
        position: absolute;
        top: 350px;
        left: 200px;
        width: 200px;
        height: 60px;
    }
}

/* Wenn die Breite max. 720px oder die Höhe max. 480px ist, 
   und das Gerät im Portrait-Modus ist */
@media only screen and (max-width: 720px),
only screen and (max-height: 480px) {
    @media (orientation: portrait) {
        .rotate-warning {
            display: block;
            /* .rotate-warning wird angezeigt */
        }
    }

    @media (orientation: landscape) {
        .rotate-warning {
            display: block;
            /* .rotate-warning wird angezeigt */
        }
    }
}

/* Wenn die Breite max. 720px ist */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        height: auto;
    }

    .title {
        display: none;
    }
}

/* Wenn die Höhe max. 480px ist */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .title {
        display: none;
    }
}

@media only screen and (min-width:721px) {
    .rotate-warning {
        display: none;
    }
}